body {
    margin: 10px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    background-color: #99f1f0;
    min-width: 400px;


}

h1 {
    font-family: Calibri, sans-serif;
    color: #1565c0;
    text-align: center;

}

.choice {
    display:flex;
    color: #1565c0;
    justify-content: space-around;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

